*{
  font-family: Arial;
  margin:0;
}

body{
  margin:20px;
box-sizing: border-box;

}

table, th, td {
    border: 1px solid black;
    border-collapse:collapse;
 padding:8px;
line-height:0.5;

}

th{
    background-color:grey;
    color:white;
}
.center{
 
    display: flex;
    justify-content: center;
    align-items: center;
}

.red{
color: red;
}

button{
background-color:black;
color:white;
}


.form-row{
display:flex;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
padding: 1px;
}

  label{
font-weight:bold;
}
