*{
font-family: Arial;
margin: 20px;
line-height: 1.6;
}

table, th, td {
    border: 1px solid black;
    border-collapse:collapse;
    padding: 8px;
}

th{
    background-color:grey;
    color:white;
}
.center{
 
    display: flex;
    justify-content: center;
    align-items: center;
}
